.marker
.details
  .heading
    .method   {{method}}
    .format   {{format}}
    = '{{controller}}#{{action}}'
    .path     {{path}}
    .datetime {{start_time}}
    .ms       {{duration}}ms
  .lines
    .line
      .num
        1.
      .txt
        def ruby
    .line
      .num
        1.
      .txt
        puts 'yee'
    .line
      .num
        3.
      .txt
        puts 'hahaha'
.clear
