.marker
.details
  .heading
    .method   {{method}}
    .format   {{format}}
    = '{{controller}}#{{action}}'
    .path     {{path}}
    .datetime {{start_time}}
    .ms       {{duration}}ms
  .params
  .lines
  .backtrace_lines
.clear
