{{line.payload.keys}}
Value for params[:{{line.payload.keys.join('][:')}}] was set
to nil, because it was one of [], [null] or [null, null, ...].
%a{href: 'http://guides.rubyonrails.org/security.html#unsafe-query-generation'} Go here
for more information.
